<footer class="footer">
  <nav>
    <ul>
      <li><a href="http://columbia.edu/~djj2115/">Daria Jung</a>
      <li><a href="mailto:djj2115@columbia.edu">Email</a></li>
      <li><a href="https://twitter.com/#!/djj2115">Twitter</a></li>
    </ul>
  </nav>
</footer>
